<div class="interactive-container">
  <div class="container">
    <div class="card">
      <div class="card-body">
        <!-- *ngIf="isDone; else isCallTemplate" -->
        <ng-container *ngIf="isDone; else isCallTemplate">
          <div class="interactive-done">
            <div class="done-img">
              <img src="../assets/images/illustration-thank-you.svg" alt="" />
            </div>
            <div class="done-label">
              <div class="label">
                <span>You selected {{ isActive }} out of 5</span>
              </div>
            </div>

            <h2>Thank you</h2>
            <p>
              We appreciate you taking the time to give a rating. If you ever
              need more support, don't hesitate to get in touch!
            </p>
          </div>
        </ng-container>

        <ng-template #isCallTemplate>
          <main>
            <div class="card-img">
              <img src="../assets/images/icon-star.svg" alt="" />
            </div>
            <div class="card-title">
              <h2>How did we do</h2>
            </div>

            <div class="card-subtitle">
              <p>
                Please let us know how we did with your support request. All
                feedback is appreciated to help us improve our offering!
              </p>
            </div>

            <div class="card-list">
              <div class="card-item">
                <ng-container *ngFor="let item of buttonList">
                  <button
                    [class.active]="isActive === item"
                    (click)="setActive(item)"
                  >
                    {{ item }}
                  </button>
                </ng-container>
              </div>
            </div>

            <div (click)="onSave()" class="card-action">
              <button>SUBMIT</button>
            </div>
          </main>
        </ng-template>
      </div>
    </div>
  </div>
</div>
